@font-face {
    font-family: "TX-02";
    src: url("TX-02-Variable.woff2") format("woff2");
}

html {
    font-family: "TX-02", monospace;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    place-items: center;
    width: 100vw;
}

pre {
    background-color: #000;
    color: #fff;
    font-family: "TX-02", monospace;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    max-width: 1000px;
    padding: 2rem;
    width: 90vw;
}

@media (max-width: 600px) {
    pre {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

code {
    background-color: #000;
    font-family: "TX-02", monospace;
}

code.amber, code.amber a, code.amber a:active, code.amber a:visited, #selectAmber {
    color: #ffb000
}

code.amber a:hover {
    color: #cc9000
}

code.green, code.green a, code.green a:active, code.green a:visited, #selectGreen {
    color: #33ff66
}

code.green a:hover {
    color: #00cc33
}

code.blue, code.blue a, code.blue a:active, code.blue a:visited, #selectBlue {
    color: #99ddff
}

code.blue a:hover {
    color: #66aacc
}

code.white, code.white a, code.white a:active, code.white a:visited, #selectWhite {
    color: #ffffff;
}

code.white a:hover {
    color: #cccccc;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
}

a[role="button"] {
    cursor: pointer;
}
